<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
    <link rel="stylesheet" href="/css/style.css" >
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
  </head>

 <body>
    <header id="marco">
      <div id="cabecera">
      <img width = 200  heigth = 200 src="/imágenes/logo-mercado-liebre.svg"></img> 
      <input type="text" class="nav-search-input" placeholder="Buscar productos, marcas y más…" > <i class="fa-solid fa-magnifying-glass"></i>
      <button class="botondecompra">Compra en cuotas y sin tarjeta de crédito</button>
      <div class="letra" >
        <p>TodosLosProductos Ofertas TiendasOficiales Vender Ayuda</p>
      </div>
    </header>
    <main>
    <div>
      <img width = 1325px heigth = 400px src="imágenes/img-home-banner.jpg"> 
    </div>
    <div>
      <h3 class="úlimavisita" >Basado en tu última visita</h3>
        <div class="item-padre">
          <img width = 300px heigth = 300px  src="imágenes/img-cafetera-moulinex.jpg" alt="" />
          <hr>
          <div class="item-hijo">
             <div class="precio">$69.000</div>
             <div class="descuento">20% off</div>
             <div class="dec">
             <p>Cafetera Moulinex</p>
            </div>
          </div>
          <img width = 300px heigth = 300px  src="imágenes/img-macbook-pro-2019.jpg" alt="" />
          <hr>
          <div class="item-hijo">
             <div class="precio">$230.000</div>
             <div class="descuento">20% off</div>
             <div class="dec">
             <p>Mac Book Pro2019</p>
             </div>
          </div>
        </div>
    </div>
    <div>
      <h3 class = "ofertas">Ofertas</h3>
    </div>
    <div class="item-padre">
      <img width = 300px heigth = 300px  src="imágenes/img-samsung-galaxy-s10.jpg" alt="" />
      <hr>
      <div class="item-hijo">
         <div class="precio">$70.500</div>
         <div class="descuento">10% off</div>
         <div class="dec">
         <p>Samsung Galaxy S10</p>
        </div>
      </div>
      <img width = 300px heigth = 300px  src="imágenes/img-tv-samsung-smart.jpg" alt="" />
      <hr>
      <div class="item-hijo">
         <div class="precio">$290.000</div>
         <div class="descuento">10% off</div>
         <div class="dec">
         <p>TV Samsung smart</p>
         </div>
      </div>
    </div>
  </main>
    <footer>
      <div class="div1">
        <i class="fa-solid fa-credit-card fa-2xl" style="color: #03264c;"></i>
           <h3 class="titulofooter">Pagá con tarjeta o en efectivo</h3>
           <p class="parrafosfooter">Con MercadoLiebreCash tenés cuotas sin interés
           con tarjeta o efectivo en puntos de pago.
           ! Y siempre es seguro ¡</p>
          </div>
          <br>
      <div class="div1">
        <i class="fa-solid fa-gift fa-2xl" style="color: #03264c;"></i>
        <h3 class="titulofooter">Envío gratis desde los $2.500</h3>
        <p class="parrafosfooter">Solo por estar registrado en Mercado Liebre
          Tenés envío gratis en miles de productos.
          Es un beneficio de Mercado Puntos.
        </p>
      </div>
      <br>
      <div class="div1">
        <i class="fa-solid fa-user-shield fa-2xl" style="color: #03264c;"></i>
        <h3 class="titulofooter">Seguridad de principio a fin</h3>
        <p class="parrafosfooter">¿No te gusta?! Devolvelo ¡ En Mercado Liebre
          no hay nada que no puedas hacer por que estas
          siempre protegid@.
        </div>
        <br>
    <div class="div1">
      <h4 id="h4">Copyrigth © 1999-2020 Mercado Liebre S.R.L</h4></div>
    </footer>
   
 </body>
</html>